@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1em;
    background-color: lightgrey;
    height: 100vh;
}

header {
    background-color: grey;
    color: white;
    padding: 10px;
}

header > .container {
    display: flex;

    flex-flow: column wrap;
}

header > h1 {
    text-align: center;
}

header a {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(27, 25, 25);
    padding: 7px;
    margin: 3px 0;
    border-radius: 5px;
}

header a:hover {
    color: black;
    background-color: rgb(85, 78, 78);

    transition: ease .4s;
}

div.container {
    display: flex;
    justify-content: center;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    max-width: 768px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}